html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  background-image: url("/public/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #101246;
}

.container {
  max-width: 500px;
  margin: 50px auto;
}